<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youtravel"
    android:versionCode="18"
    android:versionName="1.024">

    <uses-sdk
        android:minSdkVersion="20"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".StartActivityAlternative"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".CatalogueActivity" />
        <activity android:name=".CountryActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".MenuChatActivity" />
        <activity android:name=".TourFilteredActivity" />
        <activity android:name=".JourneyKindActivity" />
        <activity android:name=".TourContentActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Events" />
        <activity android:name=".EventFiltersActivity" />
        <activity android:name=".ExcursionsActivity" />
        <activity android:name=".ExcursionFiltersActivity" />
        <activity android:name=".ExcursionContentActivity" />
        <activity android:name=".EventContentActivity" />
        <activity android:name=".ServicesActivity" />
        <activity android:name=".ServiceContentActivity" />
        <activity android:name=".SettingsActivity" />
        <service
            android:name=".PushService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>